.dark {
    color: $black !important;
}

.light {
    color: $gray !important;
}

@mixin light {
    color: $gray !important;
}

.accent {
    color: $accent !important;
}

.small-screens-only {
    @media (min-width: 550px) {
        display: none;
    }
}

.large-screens-only {
    display: none;
    @media (min-width: 550px) {
        display: initial;
    }
}

@mixin heading($font-size: 18px) {
    font-size: $font-size;
    font-family: $heading-font-stack;
    letter-spacing: -0.005rem;
    font-weight: 700;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    color: $black;
}

@mixin tt-upper() {
    text-transform: uppercase;
}

@mixin transition($transition) {
    -webkit-transition: $transition;
    -moz-transition:    $transition;
    -ms-transition:     $transition;
    -o-transition:      $transition;
}

@mixin user-select($user-select) {
    -webkit-user-select: $user-select;
    -moz-user-select: $user-select;
    -ms-user-select: $user-select;
    user-select: $user-select;
}

@mixin meta() {
    color: $gray;
}
